/* This is a comment */
/* This is tag selector */
h1 {
  color: mediumturquoise;
  background-color: black;
}

/* This is decending selector */
h1 span {
  color: tomato;
}

/* This is id selector */
#author-data {
  color: white;
  background-color: blue;
}

/* p {
  color: crimson;
} */

/* This is class Selector */
.color-paragrahph {
  color: crimson;
}

/* This is a desending selector */
div h1 span {
  color: hotpink;
}
