body {
  background-color: rgba(23, 206, 200, 0.626);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  text-align: center;
  color: rgba(235, 8, 53, 0.936);
  font-style: unset;
  margin: 20px;
  background-color: rgba(255, 228, 196, 0.542);
  padding: 10px;
  border: 1px solid;
  border-color: black;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 45px;
  text-transform: uppercase;
}

#personal {
  color: rgb(0, 0, 0);
  background-color: rgba(147, 62, 226, 0.505);
  margin: 20px 30px 20px 10px;
  padding: 20px;
  height: 585px;
  width: 400px;
  border-radius: 20px;
  text-decoration: none;
  border-width: 2.1px;
  border-color: rgba(63, 47, 181, 0.811);
}

textarea {
  color: rgb(0, 0, 0);
  background-color: blanchedalmond;
}

#submit {
  color: rgb(0, 0, 0);
  background-color: rgba(14, 196, 232, 0.673);
  text-align: center;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 8px 30px 8px 30px;
  border-radius: 10px;
  border-width: 3px;
  border-color: rgb(255, 255, 255);
}
